{% load static %}


<!doctype html>
<head>
  <meta charset="utf-8">
  <title>Test Kaart AFWC data</title>
  <style>
    body {background-color: white; color: black; font-family: sans-serif}
  </style>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">

  <!-- Leaflet -->
  <link rel="stylesheet" href="{% static 'leaflet/leaflet.css' %}">
  <script src="{% static 'leaflet/leaflet.js' %}"></script>

  <!-- d3 -->
  <script src="{% static 'd3/d3.min.js' %}"></script>
</head>
<body>
  <nav class="navbar navbar-dark bg-dark">
      <span class="navbar-brand mb-0 h1">Energie transitie</span>
  </nav>
  <div style="container-fluid">
    <h1>Test Kaart AFWC data</h1>

    <div class="row">
      <div class="col col-sm-6">A</div>
      <div class="col col-sm-6">
          <div id="AFWCMAP"  style="height:480px"></div>
      </div>
    </div>

  </div>
	<script>
"use strict";

(function (){
  var API_URL = document.location.origin + '/gastransitie/api/afwc/';
  var mymap = L.map('AFWCMAP', {
    attributionControl: false,
    preferCanvas: true,
    dragging: true,
    zoomControl: true
  });
  var baseLayer = L.tileLayer(
    'https://{s}.data.amsterdam.nl/topo_wm_zw/{z}/{x}/{y}.png',
    {
      minZoom: 11,
      maxZoom: 21,
      subdomains: ['t1', 't2', 't3', 't4']
    }
  );
  var overLay = L.tileLayer.wms(
    'https://map.data.amsterdam.nl/maps/gebieden',
    {
      layers: 'buurt,buurt_label',
      format: 'image/png',
      transparent: true
      }
  );
  var geoJSONLayer = L.geoJSON();

  mymap.setView([52.367653, 4.900877], 12);
  baseLayer.addTo(mymap);
  overLay.addTo(mymap);
  geoJSONLayer.addTo(mymap);

  var colorMapping = {
    "YMERE": 'red'
  }

  function getColor(corp){
    var color = colorMapping[corp];
    if (color === undefined){
      return 'gray';
    } else {
      return color;
    }
  }

  function style(feature){
    return {
      "color": getColor(feature.properties.corp)
    }
  }


  d3.json(API_URL, function(error, data){
    L.geoJSON(data, {style: style}).addTo(mymap);
  });
})();
  </script>
  <!-- bootstrap related javascript -->
  <script src="{% static 'jquery/jquery-3.2.1.js' %}"></script>
  <script src="{% static 'popper/popper.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</body>
</html>
