django>=2.0
django-debug-toolbar
djangorestframework>=3.7.3
djangorestframework-gis>=0.12
datapunt-authorization-django
datapunt-authorization-levels


# django-rest-swagger #  Django 2.0 etc?
# drf-extensions #  Django 2.0 etc?
markdown
django-filter
sqlalchemy

django-cors-headers

psycopg2
requests
pandas
factory-boy
Faker

pytest
pytest-flake8
pytest-django

jsonschema

coreapi
openpyxl

django_extensions
django-test-without-migrations
werkzeug

#-e git+https://github.com/Amsterdam/objectstore.git#egg=datapunt-objectstore
git+https://github.com/Amsterdam/objectstore.git#egg=datapunt-objectstore
